$font: "Lato";
$fontS: 3.5vw;
$fontW: 300;
$heightG: 100vh;

$color0: white;
$color1: #244F75;
$color2: #60BFBF;
$color3: #8C4B7E;
$color4: #F8BB44;
$color5: #F24B4B;

$animation1: strip--u4rx9pe;
$animation2: strip--u4rx9pg;
$animation3: strip--u4rx9q8;
$animation4: strip--u4rx9qn;
$animation5: strip--u4rx9r0;

$c: center;
$f: flex;
$a: absolute;
$h: hidden;
$tFunc: ease-out;